#services{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-column-gap: 2%;
}

@media screen and (max-width:768px) {
    #services{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.services-card{
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
}

@media screen and (max-width:768px) {
    .services-card{
        width: 85%;
        margin-right: 15px;
        margin-left: 15px;
    }
}