h2{
    font-size: 3.5rem;
    color:var(--yellow-gold);
    text-transform: uppercase;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    h2{
        font-size: 1.75rem;
    }
}

#all-articles{
    font-size: 1.5rem;
    color:var(--yellow-base);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #all-articles{
        font-size: 1.5rem;
        color:var(--yellow-gold);padding-bottom: 5px;
    }
}

#all-articles:hover{
    color:var(--yellow-gold);
}

#articles .card{
    display: flex;
    width: 85vw;
    overflow-x: auto;
    border-top: 3px solid var(--yellow-gold);
}

@media screen and (max-width:768px) {
    #articles .card{
        border-top: 2px solid var(--yellow-gold);
        width: 100%;
        justify-content: space-between;
    }
}

#articles section {
    min-width: 300px;
    margin: 1.5rem 3rem 1.5rem 0;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    #articles section {
        min-width: 300px;
        margin: 1.5rem 3rem 1.5rem 0;
    }
}

/* Estilo da barra de rolagem */
#articles .card::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

/* Cor do fundo da barra de rolagem */
#articles .card::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Cor do "puxador" da barra de rolagem */
#articles .card::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 15px;
    width: 2px;
}

/* Estilizações adicionais quando o mouse está sobre a barra de rolagem */
#articles .card::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}