header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav{
    display: flex;
    align-items: center;
}

header ul{
    display: flex;
}

header ul li{
    list-style-type: none;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 3rem;
}

header button{
    text-transform: uppercase;
    background-color: var(--yellow-base);
    color: var(--black-base);
    border:none;
    border-radius: 50px;
    padding: 1.5rem 2rem;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    header ul li, button{
        font-size: .75rem !important;
    }
    header ul li{
        margin: 0 1.5rem;
    }
    button{
        padding: .75rem 1.5rem !important;
    }
    main .h-80{
        height: 15rem;
    }
    
}

@media screen and (max-width: 768px){
    header{
        position: relative;
        display: flex;
        justify-content: center;
    }
    #open-menu{
        position: absolute;
        left: 0vw;
        top: 2vh;
        z-index: 99;
    }
    #menu-mobile{
        z-index: 100;
        transition: left .5s linear;
    }
    header nav{
        width: 15rem;
        align-items: start;
        padding-top: 1rem;
        position: fixed;
        top: 0;
        left: -245px;
        background-color: var(--yellow-base);
        height: 100vh;
        box-shadow: 2.5px 0px 5px rgb(141, 141, 141);
    }
    header nav img{
        position: absolute;
        top: 0;
        right: 0;
    }
    header nav ul{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        background-color: transparent;
        padding-top: 2rem;
    }
    header nav ul li{
        background-color: transparent;
        margin: 2.5rem 2rem;
        font-size: 1rem !important;
    }
    nav ul li a{
        background-color: transparent;
    }
}