#banner-2{
    margin-left: -8rem;
    width: 99vw;
    height: 55vh;
    max-width: unset;
}

@media screen and (max-width: 767px) {
    #banner-2{
        margin-left: -1rem;
        width: 102vw;
        height: 23vh;
    }
}

#services-home{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width:767px) {
    #services{
        flex-direction: column;
    }
}

.services-card-home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 1rem 2rem;
    box-shadow: 1px 1px 5px gray;
    border-radius: 15px;
    background-color: #EEEEEE;
    width: 35%;
    height: 8rem;
    margin: .5rem 1rem 1rem;
    cursor: pointer;
    transition: transform 0.3s linear;
}

@media screen and (max-width: 767px) {
    .services-card-home{
        width: 92%;
        height: 10rem;
    }
}

.services-card:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 767px) {
    .services-card:hover{
        transform: unset;    
    }
}

.services-card:hover .service-link{
    color:var(--yellow-gold);
}

@media screen and (max-width: 767px) {
    .services-card:hover .service-link{
        color:unset;
    }
}

.services-card .text{
    font-size: 18px;
    font-weight: 500;
}

.service-link{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    transition: color .3s linear;
}