@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open Sans';
  src:url(../public/font/OpenSans-VariableFont_wdth\,wght.ttf);
}

:root{
  --yellow-base:#ffe589;
  --yellow-gold:#d4b237;
  --black-base:#636363;
  --black-light: #d4d4d4;
}

* {
  font-family: 'Open Sans';
  font-weight: 500;
  color: var(--black-base);
}

h1{
  font-size: 2.5rem;
}

h3{
  font-size: 2rem;
}

body {
  margin: 0 7.5rem;
  background-color: #fff8fb;
}

button{
  text-transform: uppercase;
  background-color: var(--yellow-base);
  color: var(--black-base);
  border:none;
  border-radius: 50px;
  padding: 1.5rem 2rem;
  font-size: 20px;
}

a{
  text-decoration: none;
}

footer{
  background-color: #121212;
}

@media screen and (max-width: 768px) {
  body{
    margin: 0 .5rem;
  }
}